@import url("https://use.typekit.net/ejt3ryp.css");



/* Heading Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: "freight-big-pro", serif;
}

.wufoo .info h2
{
    font-size: 3em;
    font-family: "freight-big-pro", serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .2rem;
}

/* Body Typography */
.wufoo,
input.text, input.search, input.file, textarea.textarea, select.select
{
    font-family: "europa", sans-serif;
    font-weight: 400;
    letter-spacing: .02rem;
}


body {
  color: #ffffff;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
}


/* Body */
body {
  background-color: none;
}

html,
html.embed,
html.embed body {
  background-color: transparent;
}



.wufoo .info, .wufoo .paging-context {
  border-bottom: none;
}

/* Form */
/* Items */
form li,
form li.buttons {
  padding: 2em;
}

form li span {
  margin: 0 1em 0 0;
}

/* Labels */



/* Text Inputs */


input.text,input.search,input.file,textarea.textarea,select.select
{
    font-family: "europa", sans-serif;
    font-weight: 400;
    letter-spacing: .02rem;
    font-size:100%;
    color:#333;
    margin: 0;
    padding: 2px;
}

input.nospin::-webkit-inner-spin-button,input.nospin::-webkit-outer-spin-button
{
    -webkit-appearance:none;margin:0
}
select.select
{
    padding:1px 0 0 0
}


.wufoo input.text, input.search, input.file, textarea.textarea, .wufoo select.select,
input.submit {
  font-size: 16px;
  line-height: 25px;
  border: none;
  border-radius: 0;
  padding: 6px 12px;
  outline-width: 0;
  background-color: white;
  box-shadow: 0 0 0 3px white, 0 0 0 1px white inset;
  -webkit-appearance: none;
  position: relative;
}

input.text.medium {
  width: 100%;
}

/*select.select {
  width: 100%;
}

.select:before {
  content: "";
  position: absolute;
  right: 6px;
  bottom: 0;
  font-family: "europa", sans-serif;
  width: 30px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #ccc;
  font-size: 1.2em;
  z-index: 2;
  line-height: 30px;
}
*/

input.submit
{
    background-color: #EBFC72;
    color: black;
    font-family: "europa", sans-serif;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-align: center;
    min-width: 150px;
    min-height: 50px;
    border-radius: 12px 0px 12px 0px;

}

.submit:hover
{
    opacity: 70%;
    cursor: pointer;
}



/* Fixes */
html.safari {
  background-image: none !important;
}

.wufoo .info h2,
.wufoo .section h3,
.wufoo label.desc,
.wufoo legend.desc,
label.desc,
legend.desc,
.wufoo li.focused label.desc,
.wufoo li.focused legend.desc,
.wufoo li.focused div,
.wufoo li.focused span,
.wufoo li.focused div label,
.wufoo li.focused span label,
.safari .wufoo li.focused input.file,
.wufoo li div,
.wufoo li span,
.wufoo li div label,
.wufoo li span label,
.wufoo label.choice {
  color: inherit;
}

.wufoo li.focused {
  background-color: transparent;
}